/*Estilos da página index.html*/
.center{
    text-align: center;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.minhaClasse {
    background-image: linear-gradient(red, rgb(255, 0, 255));
  }
.minhaFonte{
    font-family: Copperplate, Papyrus, fantasy;
    color: cornsilk;
    font-size: 40px;
    text-align: center;
}

.fonteText{
    font-size: 20px;  
}
#menu li{
    display: inline;
    padding: 15px;
    text-decoration: none;
}
#menu li a{
    text-decoration:none;
    color: cornsilk;
    font-size: 20px;

}
#menu li a:hover{
    color: cyan;
}
.p-30{
    padding: 30px;
}
.br-50{
    border-radius: 20%;
    width: 500px;
    height: 400px;
    
}
.tm-social{
width: 50px;
height: 50px;

}
.mb-50{
    margin-bottom: 50px;
}
#myDIV {
   
    
    animation: mymove 2s infinite;
  }
  
  @keyframes mymove {
    from {background-color:rgb(255, 0, 200);}
    to {background-color: rgb(238, 157, 201);background: rgb(255, 0, 55);}
  }

/*Estilos da página contato.html*/

.ml-50{
    margin-left: 50px;
}